@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
* {
    margin: 0 auto;
}
.header {
    background: url(./img/IMG_20211023_143843_587.jfif) no-repeat;
    width: 100%;
    height: 630px;
    background-size: 100%;
    background-position: center;
}
.box_header1 {
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
  /*  background-color: honeydew; */
  border-bottom: 2px solid white;
}
.logo h2 {
    color: white;
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
}
.menu a {
text-decoration: none;
color: white;
margin-right: 20px;
transition: all 0.5s;
font-family: 'Titillium Web', sans-serif;
}
.box_header2 {
    width: 80%;
    height: 200px;
    text-align: center;
    padding: 150px 0;
}
.box_text_header h1 {
    color: white;
    font-size: 75px;
    font-family: 'Dancing Script', cursive;
}
.box_text_header p {
    color: white;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
}
.knopka {
    margin-top: 100px;
}
.knopka a {
    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 20px 80px;
    font-family: 'Titillium Web', sans-serif;
}
.menu a:hover {
    font-size: 20px;
    border-bottom: 1px solid white;
}
.knopka a:hover {
    color: cornflowerblue;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 6px -2px 15px 3px rgba(0,0,0,0.92);
    box-shadow: 6px -2px 15px 3px rgba(0,0,0,0.92);
}
.content {
    width: 100%;
    height: 500px;
    background-color: white;
}
.mother1 {
    width: 80%;
    height: 100px;
    text-align: center;
    padding: 40px 0;
    font-size: 20px;
}
.mother1 p {
    font-family: 'Titillium Web', sans-serif;
}
.mother1 h2 {
    font-family: 'Dancing Script', cursive;
}
.box_b {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 2px;
    background-color: black;
}
.mother2 {
    width: 80%;
    height: 300px;
    display: flex;
    align-items: center;

}
.container {
    width: 25%;
    height: 90%;
   /* border: 2px solid black; */
    padding: 10px 0;
}
.logo_text {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid cornflowerblue;
    display: flex;
   justify-content: center; 
    align-items: center;
    transition: all 0.5ms;
}
.text_p {
    width: 100%;
    height: 200px;
    text-align: center;
}
.text_p h3 {
    font-family: 'Fjalla One', sans-serif; 
}
.text_p p {
    font-family: 'Titillium Web', sans-serif;
}
.logo_text i {
    font-size: 50px;
    color: cornflowerblue;
    transition: all 0.5ms;
    border-radius: 100%;
    padding: 28px 28px;
}
/*.logo_text:hover {
background-color: cornflowerblue;
} */
.logo_text i:hover {
    color: white;
    background-color: cornflowerblue;
}
.footer {
    width: 100%;
    height: 350px;
    background-color: cornflowerblue;
    padding-top: 50px;
}
.contacts {
    width: 20%;
    height: 100px;
    display: flex;
    margin: auto;
   /* border: 2px solid black; */
}
.text_contact {
    width: 30%;
    height: 100px;
    margin-top: 50px;
    margin-left: 35%;
}
.contacts div {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center; 
     align-items: center;
}
.box_contact i {
    font-size: 15px;
    color: white;
}
.text_contact p {
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}
@media screen and (max-width: 700px){
    .menu {
        display: none;
    }
    .box_header2 h1 {
        color: cornflowerblue;
        font-size: 20px;
    }
}